= render partial: 'slider'
= render partial: 'navegacion'
= render partial: 'nosotros'
= render partial: 'personas'
= render partial: 'costos'
= render partial: 'quehacemos'
= render partial: 'contacto'